
.ant-table-tbody .ant-table-row {
    background-color: transparent;
  }

  
  .ant-table-tbody {
    background-color: transparent;
  }

  .ant-table-tbody {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }
  
  /* .ant-table-tbody .ant-table-row {
    background-color: aqua;
  } */

  .ant-table-tbody .ant-table-row:hover {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  .ant-table-tbody .ant-table-row {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-thead >tr>td {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-tbody >tr >td.ant-table-cell-row-hover {
    background: none !important;
}

:where(.css-dev-only-do-not-override-17a39f8) a{
color: black;
}