
.ant-table-tbody .ant-table-row {
    background-color: transparent;
  }

  
  .ant-table-tbody {
    background-color: transparent;
  }

  .ant-table-tbody {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }
  
  /* .ant-table-tbody .ant-table-row {
    background-color: aqua;
  } */

  .ant-table-tbody .ant-table-row:hover {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  .ant-table-tbody .ant-table-row {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  /* .ant-table-tbody .ant-table-row  .ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  } */


  .ant-table-wrapper .ant-table-thead >tr>td {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  }

  .ant-table-wrapper .ant-table-thead >tr>td:hover {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  }

  .ant-table-wrapper .ant-table-thead >tr>th {
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  }


  
.ant-table-tbody a{
color: black;
}